<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        {% block stylesheets %}
            <link rel="stylesheet" href="https://bootswatch.com/4/materia/bootstrap.css">
            <link rel="stylesheet" href="https://bootswatch.com/4/materia/bootstrap.min.css">
            <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootswatch/4.0.0/materia/bootstrap.min.css">
            <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
        {% endblock %}
        <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
  <a class="navbar-brand" href={{ path('accueil') }}>Louvre - OC</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarColor01">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href={{ path('accueil') }}>Accueil<span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href={{ path('reservation') }}>Reservations</a>
      </li>
    </ul>
    <form class="form-inline my-2 my-lg-0">
      <input class="form-control mr-sm-2" type="text" placeholder="Recherche">
      <button class="btn btn-secondary my-2 my-sm-0" type="submit">Recherche</button>
    </form>
  </div>
</nav>
    </head>
    <body>
        {% block body %}{% endblock %}
        {% block javascripts %}{% endblock %}
        <!--"name": "Materia",
      "description": "Material is the metaphor",
      "thumbnail": "https://bootswatch.com/materia/thumbnail.png",
      "preview": "https://bootswatch.com/materia/",
      "css": "https://bootswatch.com/4/materia/bootstrap.css",
      "cssMin": "https://bootswatch.com/4/materia/bootstrap.min.css",
      "cssCdn": "https://maxcdn.bootstrapcdn.com/bootswatch/4.0.0/materia/bootstrap.min.css",
      "scss": "https://bootswatch.com/4/materia/_bootswatch.scss",
      "scssVariables": "https://bootswatch.com/4/materia/_variables.scss"-->
    </body>
</html>
